@inject NavigationManager NavigationManager

<button @onclick="GoHome" 
    class="btn btn-outline-primary home-button">
    My Shop
</button>

@code {
    private void GoHome()
    {
        NavigationManager.NavigateTo("/All");
    }
}
